$breakpoint-tablet-lg: 1024px;
$breakpoint-tablet-md: 768px;
$breakpoint-tablet-sm: 540px;
$breakpoint-phone: 414px;

.about-container {
     display: flex;
     background-color: rgba(250, 249, 249, 1);
}

.about-text {
     padding: 25px 0px 25px 50px;


     @media (max-width: $breakpoint-tablet-lg) {
          padding: 25px 0px 25px 0px;
     }

     p {
          font-size: 1.1rem;
          line-height: 1.45;
          margin-bottom: 1rem;
     }

     :last-child {
          margin-top: 10px;
     }


     h2 {
          margin-bottom: 2rem;

     &:before {
          content: "";
          display: block;
          width: 9rem;
          height: 1.5rem;
          background-color: rgba(190, 227, 219, 0.5);;
          margin-bottom: -2rem;
          margin-left: 0rem;
     }
          span {
               font-weight: 300;
               letter-spacing: 2;
          }
     }

     a {
          font-weight: 400;
          font-size: 12px;
          text-decoration: none;
          color:white;
          padding: 10px 20px;
          background: #B98EA7;
          border-radius: 20px;
          letter-spacing: 1px;
          
          svg {
               font-size: 16px;
               padding-left: 6px;
          }
     }
}