.navbar {
     background: rgba(255, 255, 255, 0.6);
     backdrop-filter: blur(10px);
     position: fixed;
     z-index: 100;
     width: 100%;
     display: flex;
     padding: 25px 10px;
     align-items: center;
     justify-content: space-between;
}

#navbar-home {
     font-weight: 900;
     letter-spacing: -2px;
     padding: 10px;
     align-items: center;

     h2 {
          color: $greensheen;
          margin: 0;
     }
}

.navbar-navigation {
    padding-right: 160px;

     a {
          text-decoration: none;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #3D405B;
          font-size: 1rem;
          // text-transform: uppercase;
          font-family: $headers-font;
          padding-left: 20px;
     }
}
