$breakpoint-tablet-lg: 1024px;
$breakpoint-tablet-md: 768px;
$breakpoint-tablet-sm: 540px;
$breakpoint-phone: 414px;

.navbar {
     background: rgba(255, 255, 255, 0.6);
     backdrop-filter: blur(10px);
     position: fixed;
     z-index: 100;
     width: 100%;
     display: flex;
     padding: 25px 10px;
     width: 100%;
     align-items: center;
     justify-content: flex-end;
     @media (max-width: $breakpoint-tablet-md) {
          justify-content: center;
     }
}

.navbar-navigation {
    padding-right: 160px;
    display: flex;
    width: 440px;
    justify-content: space-evenly;
   
    @media (max-width: $breakpoint-tablet-md) {
          padding-right: 0px;
          width: 80%;
          padding: 0;

     }    

     a {
          text-decoration: none;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #3D405B;
          font-size: 1rem;
          font-family: $headers-font;
          // padding-left: 20px;
          margin: auto;
          
     }

     :last-child {
          color: white;
          font-size: 12px;
          // margin-left: 20px;
          svg {
               font-size: 1rem;
               @media (min-width: $breakpoint-tablet-md) {
                    padding-left: 10px;
               } 
          }
          
     }

}

.button-mailto-plane {
     @media (min-width: $breakpoint-tablet-sm) {
          display: none;
     }

     a {
          padding-left: 0;
     }
     

     svg {
          color: white;
          padding-left: 3px;
          background: #89B0AE;
          border-radius: 20px;
          padding: 10px 10px;
          text-align: center;
     }
}

.button-mailto {
     padding: 10px 20px;
     background: #89B0AE;
     border-radius: 20px;
     letter-spacing: 0.5px;
     margin-left: 20px;
     a {
          color: white;
          text-decoration: none;   
     }
     svg {
          color: white;
          padding-left: 3px;
     }
     @media (max-width: $breakpoint-tablet-sm) {
          display: none;
     }
}


.bm-burger-button {
     position: fixed;
     width: 30px;
     height: 35px;
     left: 12px;
     top: 20px;

   }
   
   /* Color/shape of burger icon bars */
   .bm-burger-bars {
     background: #B98EA7;
   }
   
   /* Color/shape of burger icon bars on hover*/
   .bm-burger-bars-hover {
     opacity: 0.5;
   }
   
   /* Position and sizing of clickable cross button */
   .bm-cross-button {
     height: 30px;
     width: 30px;
   }
   
   /* Color/shape of close button cross */
   .bm-cross {
     background: #84878a;
   }
   
   /*
   Sidebar wrapper styles
   Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
   */
   .bm-menu-wrap {
     position: fixed;
     height: 100%;
   }
   
   /* General sidebar styles */
   .bm-menu {
     background: $gainsboro;
     padding: 2.5em 1.5em 0;
     font-size: 1.15em;
     height: 200px;
   }
   
   /* Morph shape necessary with bubble or elastic */
   .bm-morph-shape {
     fill: $gainsboro;
   }
   
   /* Wrapper for item list */
   .bm-item-list {
     color: white;
     padding: 0.8em;
     display: flex;
     flex-direction: column;
     height: 50%;
     justify-content: space-evenly;
     a {
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #3D405B;
          font-size: 1rem;
          font-family: $headers-font;
     }

     
   }
   
   /* Individual item */
   .bm-item {
     display: inline-block;
   }
   
   /* Styling of overlay */
   .bm-overlay {
     background: rgba(245, 245, 245, 0.5);
     backdrop-filter: blur(3px);
   }