.skills {
     padding: 80px 150px;
     background-color: white;
     h2 {
          text-align: left;
          span {
               font-weight: 300;
               letter-spacing: 2;
          }
     }
     &:before {
          content: "";
          display: block;
          width: 10rem;
          height: 1.5rem;
          background-color: rgba(190, 227, 219, 0.5);
          margin-bottom: -2rem;
          margin-left: 0rem;
     }

     .subtitle {
          margin: 0;
          margin-top: 30px;
          margin-bottom: -35px;
          text-transform: uppercase;
          font-size: 14px;
          text-align: center;
     }
}

.skill-list {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     gap: 0px 0px;
     grid-template-areas:
       ". ."
       ". .";
     // margin-bottom: 25px;
}

.skill-card-text {
     margin-left: 20px;
     margin-right: 16px;
     text-align: justify;
     span {
          font-weight: 500;
     }

}

.skill-card {
     padding:  2rem  0.5rem 0.5rem 0.5rem;
     display: flex;
     flex-direction: column;
     justify-self: center;
     width: 80%;

     img {
          height: 80px;
     }

     h4 {
          text-align: left;
     }

     

     ul {
          padding: 1rem 0;
          margin: 0;
     }
     li {
          list-style: none;
          text-align: left;
          line-height: 2rem;
          font-size: 1.1rem;
          font-weight: 300;
     }

     .skill-card-text {
          display: flex;
          flex-direction: column;
          height: 100%;  
          p {
               margin: 0;
               letter-spacing: 1px;
               align-self: stretch;
          }
     }
     
}