.skills {
     padding: 30px 150px;
     h2 {
          text-align: center;
     }
     .subtitle {
          margin: 0;
          margin-top: 30px;
          margin-bottom: -35px;
          text-transform: uppercase;
          font-size: 14px;
          text-align: center;
     }
}

.skill-list {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     gap: 30px 30px;
     grid-template-areas:
       ". ."
       ". .";
     margin-bottom: 25px;
}

.skill-card-text {
     margin-left: 20px;
     margin-right: 16px;
     text-align: justify;
     span {
          font-weight: 500;
     }
}

.skill-card {
     background: #FFFFFF;
     box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.04);
     border-radius: 20px;
     padding:  2rem  1rem 1rem 1rem;
     // margin: 15px;
     // max-width: 260px;
     display: flex;
     flex-direction: column;
     text-align: center;
     justify-self: center;
     width: 80%;

     img {
          height: 80px;
     }

     .skill-card-text {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;  
          h3 {
               letter-spacing: -1px;
               font-weight: 600;
               margin: 30px 0 10px 0;
          }
          p {
               margin: 0;
               letter-spacing: 1px;
               align-self: stretch;
          }
     }
     
}