$breakpoint-tablet-sm: 540px;

.socials {
     position: fixed;
     right: 0;
     top: 0;
     margin-top: 150px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     padding: 3px;
     border-radius: 5px 0px 0px 5px;
     a {
          font-size: 24px;
          color: #B98EA7;
          // opacity: 0.4;
          padding: 9px 8px 8px 10px;
          border-radius: 20px;
          background-color: white;
          margin: 10px;
          box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.1);
     }
     a:hover {
          opacity: 0.2;
     }
}

@keyframes float {
     50% {
        transform: translate(0, 5px);
     }
   }

#github {
     position: relative;
     right: 0.25rem;
     animation: float 2s ease-out infinite;
}

#linkedin {
    position: relative;
    right: 1.5rem;
    animation: float 2s ease-in infinite;
}

#instagram {
     position: relative;
     right: 1.5rem;
     animation: float 2s ease-out infinite;
 }

#twitter {
     position: relative;
     right: 0.25rem;
     animation: float 2s ease-in infinite;
}

@media (max-width: $breakpoint-tablet-sm) {
     .socials {
          position: relative;
          flex-direction: row;
          justify-content: flex-start;
          margin: 0;
          margin-top: 2rem;
          width: 70%;
          #github,
          #linkedin,
          #instagram,
          #twitter {
               right: 0;
               animation: none;
               margin: auto 1rem 0px 0px;
          }
     }
     .socials-container {
          padding-top: 25px;
          padding-left: 0;
          :first-child {
               margin-left: 0;
          }
     }

     .vertical {
          flex-direction: column !important;
     }
}

@media (min-width: $breakpoint-tablet-sm) {
     .socials.container {
          padding: 0 !important;
     }
}

