// Colorscheme for the website
$gunmetal: rgba(18, 44, 52, 1);
$mystic: rgba(211, 79, 115, 1);
$champagnepink: rgba(220, 199, 190, 1);
$greensheen: rgba(96, 171, 154, 1);
$gainsboro: rgba(222, 222, 224, 1);

// Other colors
