// Global css variables
@import "config/fonts";
@import "config/colors";

// Components
@import "components/contact-me";
@import "components/footer";
@import "components/intro";
@import "components/intro";
@import "components/my-work";
@import "components/navbar";
@import "components/profile-picture";
@import "components/skills";
@import "components/socials";
@import "components/timeline";




// Global styles

body {
  // background-color: $champagnepink;
  font-family: $body-font;
  color: rgba(0, 0, 0, 0.6)
}

h1, h2, h3, h4, h5 {
  font-family: $headers-font;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.8);
}
